<!DOCTYPE html>
<html>
  <head>
    <title>ZipCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag  'application', media: 'all' %> 
    <%= javascript_include_tag 'application' %>
    <script type='text/javascript'>
      window.logo = "<%=image_url('logo.png')%>"
    </script>
    <script type='text/javascript'>
      window.demoHead = "<%=image_url('head.jpeg')%>"
    </script>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAHXcFEDgJwTeQrfOwbpWkhjaXwmoIQy9I" %>
    <script src="https://kit.fontawesome.com/8236c26cdc.js" crossorigin="anonymous"></script>
    <%# &libraries=places&callback=initMap %>
    <%= favicon_link_tag 'favicon.ico' %>
    
  </head>

  <body>
    <%= yield %>
    <script>
      $(function(){

      $("body").on("click", ".js-modal-open", function(event){
        event.preventDefault();
        $(".signup-form-container").addClass("is-open");
      });

      $("body").on("click", ".js-modal-close", function(event){
        event.preventDefault();
        $(".signup-form-container").removeClass("is-open");
      });

      }); 
  </script>
  </body>
</html>
