<!DOCTYPE html>
<html>
  <head>
    <title>ZipCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="ZipCamp" />
     <meta property='og:image' content="<%= image_url('zipcamp_screen.png') %>"/>
     <meta property="og:description"
       content="Zipcamp"
     />
     <meta property="og:url"
       content="https://zipcamp.herokuapp.com/#/"
     />

    <%= stylesheet_link_tag  'application', media: 'all' %> 
    <%= javascript_include_tag 'application' %>
    <script type='text/javascript'>
      window.logo = "<%=image_url('logo.png')%>"
    </script>
    <script type='text/javascript'>
      window.tent = "<%=image_url('tent_logo.jpg')%>"
    </script>
    <script type='text/javascript'>
      window.demoHead = "<%=image_url('head.jpg')%>"
    </script>
    <script type='text/javascript'>
      window.toilet = "<%=image_url('splah_toi.jpg')%>"
    </script>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAHXcFEDgJwTeQrfOwbpWkhjaXwmoIQy9I&libraries=places" %>
    <script src="https://kit.fontawesome.com/8236c26cdc.js" crossorigin="anonymous"></script>
    
    <%= favicon_link_tag 'favicon.ico' %>
    
  </head>

  <body>
    <%= yield %>
    <script>
      $(function(){

      $("body").on("click", ".js-modal-open", function(event){
        event.preventDefault();
        $(".signup-form-container").addClass("is-open");
      });

      $("body").on("click", ".js-modal-close", function(event){
        event.preventDefault();
        $(".signup-form-container").removeClass("is-open");
      });

      }); 
  </script>

   <script>
      $(function(){

      $("body").on("click", ".leave-review", function(event){
        event.preventDefault();
        $(".review-form").addClass("is-open");
      });

      $("body").on("click", ".review-exit", function(event){
        event.preventDefault();
        $(".review-form").removeClass("is-open");
      });

      }); 
  </script>

   <script>
      $(function(){

      $("body").on("click", ".review-edit-button", function(event){
        event.preventDefault();
        $(".review-edit-form").addClass("is-open");
      });

      $("body").on("click", ".review-exit", function(event){
        event.preventDefault();
        $(".review-edit-form").removeClass("is-open");
      });

      }); 
  </script>
  </body>
</html>
